$bright-red: tomato;
$dark-red: crimson;
$old-grey: #223843;
$new-grey: #2f2f2f;
$lt-grey: #403F4C;
$white: #eee;
$primary: $bright-red;
$secondary: $dark-red;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--crsl-bg: transparent;
	--box-bg: #1e272e;
	--box-shadow: #0000001c;
	--box-shadow-border: #0000000f;
	--box-border: #white;
  }

#root {
	z-index: 0;
	position: relative;
	background-color: $dark-red;
	display: flex;
	flex-direction: column;
	overflow-x: clip;
	// div:last-child {
	// 	opacity: .99;
	//   }
}

html {
	font-size: 10px;
	font-family: "Roboto Cn", sans-serif;
}

body {
	background: #192226 !important;
}

a {
	text-decoration: none;
	color: $white;
}

header {
	width: 100%;
	background: linear-gradient(to bottom, rgba(0, 0, 0, .8), rgba(0, 0, 0, .5)), url("https://images.unsplash.com/photo-1523374228107-6e44bd2b524e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80") center no-repeat;
	// background: linear-gradient(to bottom, rgba(0,0,0,.8), rgba(0,0,0,.5)), center no-repeat;
	background-size: cover;
	// position: relative;
	height: 100vh;
	position: sticky;
	top: 0px;
	z-index: 10;
	overflow: hidden;
	height: 9.1rem;
	margin-bottom: 0;
}

// #root {
// 	height: 100%;
// }
// .App {
// 	position: relative;
// 	z-index: 997;
// 	height: 100%;
// }

.reset {
	all: unset;
}

.container {
	z-index: 11;
	position: relative;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
  }

//   @media (min-width: 768px) {
// 	.container {
// 	  width: 750px;
// 	}
//   }

//   @media (min-width: 992px) {
// 	.container {
// 	  width: 970px;
// 	}
//   }

//   @media (min-width: 1200px) {
// 	.container {
// 	  width: 1170px;
// 	}
//   }
  

.menu-toggle {
	position: fixed;
	top: 2.5rem;
	right: 2.5rem;
	color: #eeeeee;
	font-size: 3rem;
	cursor: pointer;
	z-index: 1000;
	display: none;
}

nav {
	padding: 2rem 0;
	text-transform: uppercase;
	font-size: 1.6rem;
	width: 100%;
	display: flex;
	justify-content: space-between;

}


.brand {
	font-size: 3rem;
	font-weight: 300;
	transform: translateX(-100rem);
	animation: slideIn .5s forwards;
	display: inline;
	width: 30%;
}

.brand span {
	color: $dark-red;
}

.grid {
	margin-left: -2%;
	padding: 2%;
	*zoom: 1;
	min-height: 100%;
}

.row {
	width: 100%;
	display: flex;
	flex-wrap: wrap;

}

nav {
	// align-self: center;
	// width: 100%;
	// .brand{
	// width: 20%;
	// }
	// ul {
	// width: 80%;
	// }
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
}

nav ul {
	// margin-bottom: 0;
	// margin-right: 1rem;
	// margin-left: auto;
	// justify-self: flex-end;
	// float: right;
	display: flex;
	// flex-direction: row;
	width: 80%;
	list-style: none;
	align-items: center;
	justify-content: flex-end;

}

nav ul li {
	transform: translateX(100rem);
	animation: slideIn .5s forwards;
	// flex: 1;
	justify-content: space-around;
}

nav ul li:nth-child(1) {
	animation-delay: 0s;
}

nav ul li:nth-child(2) {
	animation-delay: .5s;
}

nav ul li:nth-child(3) {
	animation-delay: 1s;
}

nav ul li:nth-child(4) {
	animation-delay: 1.5s;
}

nav ul li a {
	padding: 1rem 0;
	margin: 0 3rem;
	position: relative;
	letter-spacing: 2px;
}

nav ul li a:last-child {
	margin-right: 0;
}

nav ul li a::before,
nav ul li a::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: $dark-red;
	left: 0;
	transform: scaleX(0);
	transition: all .5s;
}

nav ul li a.down::before {
	top: 0;
	transform-origin: left;
}

nav ul li a.down::after {
	bottom: 0;
	transform-origin: left;
}

.main-window {
	margin: unset;
	padding: 1rem;
	background: $lt-grey;
	background: linear-gradient($lt-grey, $new-grey);
	border-radius: 1.25rem;
	min-height: 20rem;
	height: 100%;
	/* width: 35em; */
}

.titlebar {
	width: 100%;
	// height: 100%;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	cursor: default;
	position: relative;
}

.navigation {
	position: absolute;
	float: left;
}

.navigator {
	display: inline-block;
	padding: 0.5em;
	// position: relative;
	// top: 1rem;
	// left: 1rem;
	text-align: center;
}

.icon {
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	// box-shadow: inset 0 13px 25px rgba(255,255,255,0.1), 0 3px 5px rgba(0,0,0,0.2), 0 10px 13px rgba(0,0,0,0.1);
}

.icon-border {
  
	box-shadow: inset 0 0 8px rgba(0, 0, 0, .9);
	// box-shadow: rgb(114, 114, 114) 0px 0px 8px 4px inset;

  }

.red {
	background-color: crimson;
	// box-shadow: inset 0 13px 25px rgba(255,255,255,0.1), 0 3px 5px rgba(0,0,0,0.2), 0 10px 13px rgba(0,0,0,0.1);

}

.grey {
	background-color: $white;
}

.rule {
	height: 0.5rem;
	width: 105%;
	background-color: #2f2f2f;
	position: relative;
	left: -20px;
	top: 5rem;
}

.window-content {
	// margin-top: 3rem;
	// padding: 5rem 3rem 3rem 3rem;

	position: relative;
	top: 50%;
	left: 50%;
	width: inherit;
	height: inherit;
	transform: translate(-50%, -50%);

	div {
		// margin-top: 3rem;
		height: inherit;
		// margin-top: inherit;

		p {
			margin-top: -3rem; // this line is the difference between the two.
			font-size: xx-large;
		}
	}

}

// nav ul li a.up::before{
// 	top: 0;
// 	transform-origin: right;
// }

// nav ul li a.up::after{
// 	bottom: 0;
// 	transform-origin: right;
// }

.overlay {
	background-color: rgba(0, 0, 0, .7);
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	transition: opacity 650ms;
	transform: scale(0);
	opacity: 0;
	z-index: 100;
	display: none;
}

nav ul li a:hover::before,
nav ul li a:hover::after {
	transform: scaleX(1);
}

nav ul li a.active::before,
nav ul li a.active::after {
	transform: scaleX(1);
}

.container {
	display: flex;
	align-items: center;
	height: 100%;
	background: transparent;
}

.swiper-container {
	// padding: 4rem 2rem 0 2rem;
	padding:0 4rem;
}

.swiper-wrapper {
	margin-top: 6rem;
	
}

.blockquote-footer {
	color: #eee;
	font-family: 'Lucida Sans', Arial, sans-serif; 
	font-size: 16px; 
	line-height: 26px; 
	text-indent: 3rem; 
	margin: 2rem 0;
}

.carbon {
	background-color: rgb(32, 32, 32);
	background-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0) 20%, rgba(0,0,0,0) 80%, rgba(0,0,0,1)), linear-gradient(45deg, $new-grey 25%, transparent 25%, transparent 75%, $new-grey 75%, $new-grey), linear-gradient(45deg, $new-grey 25%, transparent 25%, transparent 75%, $new-grey 75%, $new-grey), linear-gradient(to bottom, rgb(8, 8, 8), rgb(32, 32, 32));
	background-size: 100% 100%, 10px 10px, 10px 10px, 10px 5px;
	background-position: 0px 0px, 0px 0px, 5px 5px, 0px 0px;
	border-radius: 2rem;
}

.carousel-inner {
	
	
	.carousel-item {
		margin-top: 10rem;
		.blockquote{
			height: 100%;
			
			div {
				p {
					height: 80%;
					color: #eee;
				}
			}
		}
	}
}

.client-review-stars {
	padding-left: 10vw;
	padding-right: 10vw;
}

div.review {
	height: 55% !important;
}

#root {

	// background: url("https://images.unsplash.com/photo-1523374228107-6e44bd2b524e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80") fixed no-repeat;
	// background-size: cover;
	.App:before,
	.App:after {
		content: " ";
		height: 100%;
		position: absolute;
		top: 0;
		width: 15px;
	}

	.App:before {
		box-shadow: -15px 0 15px -15px inset;
		left: -15px;
	}

	.App:after {
		box-shadow: 15px 0 15px -15px inset;
		right: -15px;
	}

	//   .App {
	// 	// background: #EEEEEE;
	// 	// height: 100px;
	// 	margin: 0 50px;
	// 	// width: 100px;
	// 	position: relative;
	//   }
	.App {
		background-color: $dark-red;
		height: 100%;
		margin: 0 50px;
		position: relative;
		display: flex;
		flex-direction: column;
		// background: transparent;
		.wrap {
			background-color: $new-grey;
			position: relative;
			z-index: 9;
			height: 100%;
			section {
				z-index: 8;
				position: relative;
				height: 100vh;
				min-height: 100vh;
				margin: 0 5%;
				
				.section-body {
					// color: white;
					z-index: 7;
					position: relative;
					// margin: 5rem 5%;
					padding-top: 4rem;
					height: 87%;
					// width: 100%;
					max-width: 95%;
					margin: 0 auto;
					// background-color: rgba(0,0,0,.7);
					div {
						z-index: 6;

						// margin: 5rem 5%;
						// font-size: large;
						p {
							text-align: center;
							margin-top: -5rem;
							
						}

						//div {
						// margin-top: 6rem;
						//}
					}
				}
			}
		}
	}
}

.section-content {
	padding: 5rem 4rem 4rem 4rem;
	p.heading {
		font-family: 'Open Sans', sans-serif; 
							font-size: 30px; 
							font-weight: 600; 
							line-height: 40px; 
							text-transform: uppercase;
	}
	div {
		height: 100%;
		// padding-top: 2.5rem;

		.hero {
			padding-top: 6em;
			text-align: center;
		}
	}
}

.half {
	position: relative;
	max-height: 50%;
}

.double {
	background: transparent;
}

.hero {
	position: relative;
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: repeat(2, 50%);
  	grid-template-rows: repeat(2, 50%);
	grid-template-areas:
		"A C"
		"B C";
	height: inherit;
	padding-top: 1rem;
}

.bg-warm {
	background: url('./assets/code-small.jpg') center;
	// background-attachment: cover;
	width: 100%;
	background-size: cover;
 	 
}

.bg-cool {
	background: url('./assets/code-cool-small.jpg') center;
	// background-attachment: cover;
	width: 100%;
	background-size: cover;
}

.bg-tall-cool {
	background: url('./assets/code-col-cool-small.jpg') center;
	width: 100%;
	background-size: cover;
}

.bg-tall-warm {
	background: url('./assets/code-col-small.jpg');
}

.big {
	background-color: white;
	color: black;
	font-size: 8vw; /* Responsive font size */
	font-weight: bold;
	// margin: 0 auto; /* Center the text container */
	// padding: 10px;
	width: 100%;
	text-align: center; /* Center text */
	position: absolute; /* Position text */
	top: 50%; /* Position text in the middle */
	left: 50%; /* Position text in the middle */
	transform: translate(-50%, -50%); /* Position text in the middle */
	// mix-blend-mode: screen; /* This makes the cutout text possible */
	position: relative;
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  border: 2rem solid;
  }

  .medium {
	background-color: white;
	color: black;
	font-size: 5vw; /* Responsive font size */
	font-weight: bold;
	// margin: 0 auto; /* Center the text container */
	// padding: 10px;
	width: 100%;
	text-align: center; /* Center text */
	position: absolute; /* Position text */
	top: 50%; /* Position text in the middle */
	left: 50%; /* Position text in the middle */
	transform: translate(-50%, -50%); /* Position text in the middle */
	// mix-blend-mode: screen; /* This makes the cutout text possible */
	position: relative;
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  overflow-wrap: break-word;
	  border: 2rem solid transparent;
	  padding: 4rem;
	  box-sizing:border-box;
  	  box-shadow:0 0 0 2rem black inset;
  }

.full {
	width: 100%;
}

.block-0 {
	grid-area: A;
	height: 100%;
	// margin-top: 1rem;
	border-bottom-left-radius: 1.25rem;
}


.block-1 {
	grid-area: B;
	height: 100%;
	background: green;
	// margin-top: 1rem;


}

.bl {
	border-bottom-left-radius: 1.25rem;
}

.br {
	border-bottom-right-radius: 1.25rem;
}

.block-2 {
	grid-area: C;
	height: 100%;
	background: blue;
	// margin-top: 1rem;

}

#client-testimonial-carousel {min-height: 200px;}

// margin: 3rem 3rem 6rem 3rem;

.hide {
	display: none;
}

// /* Knockout text within a dark area */
// .multiply {
// 	color: white;
// 	mix-blend-mode: multiply;
// 	background-color: rgb(47, 47, 47);
//   }
  
//   /* Knockout text within a bright area */
//   .screen {
// 	color: $new-grey;
// 	mix-blend-mode: screen;
// 	background-color: rgb(244, 220, 211);
//   }

// .mb-5 {
//     margin-bottom: 3rem!important;
// }


// .my-4 {
//     margin-top: 1.5rem!important;
//     margin-bottom: 1.5rem!important;
// }

// .row {
//     display: -webkit-box;
//     display: -ms-flexbox;
//     display: flex;
//     -ms-flex-wrap: wrap;
//     flex-wrap: wrap;
//     margin-right: -15px;
//     margin-left: -15px;
// }

// .col-12 {
//     -webkit-box-flex: 0;
//     -ms-flex: 0 0 100%;
//     flex: 0 0 100%;
//     max-width: 100%;
// }
@media screen and (max-width: 1000px) {
	header {
		// height: 100vh;
		z-index: 10000;
		display: flex;
		// margin-bottom: -500px;
		background: transparent;
	}

	header.menu-open {
		position: relative;
		margin-bottom: 0;
	}

	.menu-toggle {
		position: relative;
		display: block;
	}

	svg {
		position: relative;
		z-index: 9998;

		path {
			position: relative;
			z-index: 9999;
		}
	}

	.container {
		width: 100%;
		padding-right: 0;
		padding-left: 0;
	}

	nav {
		align-items: center;
		text-align: center;
		z-index: 12;
		display: flex;
		flex-direction: column;
		margin-bottom: 10rem;
		// margin-top: auto;
		background: transparent;
		width: 100%;
		position: absolute;
		top: 2rem;
	}

	nav ul {
		width: 100%;
		flex-direction: column;
	}

	nav ul li {
		margin-top: 3rem;
		width: 100%;
	}

	nav ul li a {
		margin: 0;
		font-size: 2.5rem;
	}

	.brand {
		width: 100%;
		// margin-top: 3rem;
		padding: 0 1rem;
		position: relative;
		z-index: 9996;

		a {
			position: relative;
			z-index: 9997;
			width: 100%;
		}
	}

	.navbar-expand {
		align-self: center;
		width: 100%;

		.brand {
			font-size: 5rem;
			width: 100%;
		}
	}

	


	.overlay.menu-open,
	nav.menu-open {
		display: flex;
		transform: scale(1);
		opacity: 1;
		z-index: 0;

		//   position: relative;
		//   z-index: 9995;
		//   justify-content: space-evenly;
		.brand {
			width: 100%;
			// margin-top: 3rem;
			position: relative;
			z-index: 9996;

			a {
				position: relative;
				z-index: 9997;
			}
		}
	}

	.swiper-container {
		padding: 0rem 2rem;
		
	}

	.swiper-wrapper {
		margin-top: 10px;
	}

	#root {
		background: url("https://images.unsplash.com/photo-1523374228107-6e44bd2b524e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80") fixed no-repeat;
		background-size: cover;
		height: 100%;
		width: 100%;
		.App {
			background: transparent;
			width: 100%;
			margin: unset;
			.wrap {
				background-color: transparent;
				// margin-top: -1rem;
				section {
					min-height: 100vh;
					z-index: 998;
					position: relative;
					background: transparent;
					width: 100%;
					margin: unset;
					.section-body {
						color: $white;
						z-index: 999;
						position: relative;
						background: transparent;

						div.section-content {
							z-index: 1000;
							// background-color: rgba(0,0,0,.7);
							margin: 0 2rem;
							padding-left: unset;
							padding-right: unset;
							p {
								padding-top: 0.5rem;
								// text-align: center;
								// display: none;
							}
						}
					}
				}
			}
		}
	}


.hero {
	position: relative;
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: repeat(1, 100%);
  	grid-template-rows: repeat(3, 33%);
	grid-template-areas:
		"A"
		"B"
		"C";
	height: inherit;
	padding-top: 1rem;
}

.bg-code {
	background: url('./assets/code-small.jpg') center;
	// background-attachment: cover;
	width: 100%;
	background-size: cover;
 	 
}

.bg-pitt {
	background: url('./assets/pitt-small.jpg') center;
	// background-attachment: cover;
	width: 100%;
	background-size: cover;
}

.text {
	background-color: white;
	color: black;
	font-size: 10vw; /* Responsive font size */
	font-weight: bold;
	// margin: 0 auto; /* Center the text container */
	// padding: 10px;
	width: 100%;
	text-align: center; /* Center text */
	position: absolute; /* Position text */
	top: 50%; /* Position text in the middle */
	left: 50%; /* Position text in the middle */
	transform: translate(-50%, -50%); /* Position text in the middle */
	// mix-blend-mode: screen; /* This makes the cutout text possible */
	position: relative;
	  display: flex;
	  justify-content: center;
	  align-items: center;
  }

  .text-red {
	color: rbga(220,20,60,.6)
}

  .text-grey {
	color: #eee;
  }

  .text-shadow {
	text-shadow: 1px 1px white, -1px -1px #444;
  }

.full {
	width: 100%;
}

.block-0 {
	grid-area: A;
	height: 100%;
	// margin-top: 1rem;
	border-bottom-left-radius: 1.25rem;
}


.block-1 {
	grid-area: B;
	height: 100%;
	background: green;
	// margin-top: 1rem;


}

.bl {
	border-bottom-left-radius: 1.25rem;
}

.br {
	border-bottom-right-radius: 1.25rem;
}

.block-2 {
	grid-area: C;
	height: 100%;
	background: blue;
	// margin-top: 1rem;

}

// margin: 3rem 3rem 6rem 3rem;

.hide {
	display: none;
}

}

/* Knockout text within a dark area */
.multiply {
	color: white;
	mix-blend-mode: difference;
	background-color: rgb(47, 47, 47);
  }
  
  /* Knockout text within a bright area */
  .screen {
	color: black;
	mix-blend-mode: screen;
	background-color:rgb(47, 47, 47);
  }

  .exclusion {
	color: white;
	mix-blend-mode: exclusion;
	background-color:  rgb(47, 47, 47);
  }

  .darken {
	color: white;
	mix-blend-mode: darken;
	background-color: rgb(47,47,47);
  }

  .lighten {
	color: black;
	mix-blend-mode: lighten;
	background-color: rgb(47, 47, 47);
  }

svg.toggle {
	animation: heartbeat 1.2s linear infinite;
	animation-play-state: paused;
}

svg.toggle:hover {
	animation-play-state: running;
}

@keyframes heartbeat {
	0% {
		transform: scale(1);
	}

	30% {
		transform: scale(1);
	}

	35% {
		transform: scale(.75);
	}

	40% {
		transform: scale(1);
	}

	45% {
		transform: scale(1.25);
	}

	50% {
		transform: scale(1);
	}

	55% {
		transform: scale(.75);
	}

	60% {
		transform: scale(1);
	}

	65% {
		transform: scale(1.25);
	}

	70% {
		transform: scale(1);
	}

	100% {
		text-replace: scale(1);
	}
}

@keyframes move {
	0% {
		top: 0px;
	}

	25% {
		top: -50px;
	}

	50% {
		top: -100px;
	}

	75% {
		top: -150px;
	}
}

@-webkit-keyframes move {
	0% {
		top: 0px;
	}

	25% {
		top: -50px;
	}

	50% {
		top: -100px;
	}

	75% {
		top: -150px;
	}
}

@-moz-keyframes move {
	0% {
		top: 0px;
	}

	25% {
		top: -50px;
	}

	50% {
		top: -100px;
	}

	75% {
		top: -150px;
	}
}